<nav class="navbar navbar-inverse ">
		<div class="container-fluid"> 
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Heysel</a> 
			</div>
			<div class="col-md-8">
				<ul class="nav navbar-nav">
					<li class="" ><a href="/home">Tienda</a></li>
					<li class="" ><a href="#">Ofertas</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="nav navbar-nav">
					<li class="" ><a href="#">Cesta  <span class="glyphicon glyphicon-shopping-cart "> <span class="badge">0</span></span></a></li>
				</ul>
			</div>
			
	  </div>	
</nav>