 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Practica_13</title>
        <meta charset="UTF-8" />
        <meta name="description" content="Ejercicio 1 - Practica 10" />
        <meta name="author" content="Enrique Acedo" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    
    <body id="body">
    
		<div class="col-md-6">
            <p>Announcement Stored</p>
            <p><a href="./home">Back to home</a></p>
            
        </div>

    </body>
</html>