<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heysel</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Practica Programacion Web - Tienda Online" />
    <meta name="author" content="Enrique Acedo" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style type="text/css">
    .container{
	    min-height: 700px;
    }
    
    .overflow{
	    overflow-x: scroll;
	    overflow-y: scroll;
    }
    
    .tachado{
    	text-decoration:line-through;
    }

    </style>

</head>

<body id="body">

    <div class="container">
        <div id="header">
            <nav class="navbar navbar-inverse ">
                <div class="container-fluid"> 
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Heysel</a> 
                    </div>
                    <div class="col-md-8">
                        <ul class="nav navbar-nav">
                            <li class="" ><a href="/tienda?categoria=todo">Tienda</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav navbar-nav">
                           <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" id="cesta" href="#">Cesta  <span class="glyphicon glyphicon-shopping-cart"></span> <span class="badge" th:text="${cesta_size}">0</span></a>
                            
                            	<ul class="dropdown-menu">
									<li>
										<table class="table">
											<tr th:each="producto : ${productos_cesta}">
												<td><img th:src='${producto.getImage()}'  height="50"/></td>
												<td><p th:text='${producto.getName()}'></p></td>
											</tr>
											<tr>
					                        	<td th:if="${total > 0}" ><h4>TOTAL</h4> </td>
												<td th:if="${total > 0}" ><h4 th:text='${total + " €"}'></h4></td>
					                        </tr>
										</table>
									</li>
									
									<li th:if="${cesta_size > 0}"><a href="./cesta"><button type="submit" class="btn btn-success">Comprar</button></a></li> 
									<li th:if="${total == 0}">Cesta vacía</li>

								</ul>
							</li>
                            <li>
							<a href="/admin?estado=Todos"><span type="submit" class="glyphicon glyphicon-user"></span></a>

                       
                           </li>                       </ul>
                    </div>
                </div>    
            </nav>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li> 
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <h1 th:text="${name}"></h1>
                    <div class="col-md-9">

	                    <table class="table">
							<tr> 
								<td rowspan="4"><img th:src='${image}'  height="200"/>	</td>
								<td><p th:text="${name}"></p> </td>
							</tr>
							<tr>
								<td><p th:text="${description}"></p> </td>
							</tr>
							<tr>
								<td><h3 th:text='${price + " €"}' th:class="${oferta > 0}? 'tachado' : n "></h3> </td>
							</tr>
							<tr>
								<td><h2 th:if="${rebajado}" th:text='${final_price + " €"}'></h2> </td>
							</tr>
	                    </table>
	                   <div  class="overflow">
		                    <table class="table table-striped overflow">
		                    	<tr class="overflow">
		                    		<td th:each="imagen : ${imagenes}">
			                    		 <img th:src='${imagen.getUrl()}'  height="100"/>
		                    		</td>
		                    	</tr>
		                    </table>
	                   </div>
                    </div>
                    <div class="col-md-3">
                    	<div class="form-group ">
                    		<a th:href="@{./addandbuy(producto=${id})}"><button type="submit" class="btn btn-success">Comprar</button></a>

                    	</div>
                    	<div class="form-group">
					   		<a th:href="@{./add(producto=${id})}"><button type="submit" class="btn btn-success">Añadir al Carrito</button></a>
                    	</div>
	                </div>
                </div>
            </div>

        </div>                    

    </div>

    <footer class="footer"> 
        <div class="containter_f">
            <p class="text-center">Practica Tienda Online - Enrique Acedo - 2015</p> 
        </div>
    </footer>
</body>
</html>